<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>990274208221-bifdv2r7skh3iv8d3sc4v0iq4hruiof7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990274208221-bifdv2r7skh3iv8d3sc4v0iq4hruiof7</string>
	<key>API_KEY</key>
	<string>AIzaSyB_uskw6oY1GP_WnWbg8jRYiNWHGNOGBXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>990274208221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nartus.myWallet</string>
	<key>PROJECT_ID</key>
	<string>my-wallet-9438d</string>
	<key>STORAGE_BUCKET</key>
	<string>my-wallet-9438d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990274208221:ios:ea83482f33c13796</string>
	<key>DATABASE_URL</key>
	<string>https://my-wallet-9438d.firebaseio.com</string>
</dict>
</plist>